* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #000;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
}

.footer {
  display: flex;
  bottom: 0;
  height: 18vh;
  width: 100%;
  justify-content: space-evenly;
  padding: 15px;
  background: #14213d;
}

.footer__copyright {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.logo {
  width: 100px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
  }
}

.nav__item {
  position: relative;
  list-style: none;
}

.nav__link {
  display: block;
  padding: 0.5rem 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.nav__link:hover {
  color: #fca311;
  text-decoration: none;
}

.nav__link--footer {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  background: transparent;
  color: #fff;
}

.nav__footer {
  position: absolute;
  display: flex;
}

.navbar {
  background: #14213d;
}

.navbar-brand {
  color: white;
}

.sticky {
  background: #e5e5e5;
}

.sticky .nav__link {
  color: #000;
}

.sticky .nav__link:hover {
  color: red;
}

.sticky .navbar-brand {
  color: #000 !important;
}

.section {
  height: 100vh;
  background: #e5e5e5;
  padding-top: 70px;
}

.section--home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionskills {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--port {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.article {
  height: 85%;
  border-radius: 10px;
  margin: 35px;
  background: rgba(0, 0, 0, 0.2);
}

.article__home {
  background: url(/img/skill3.jpg);
  max-width: 1000px;
}

.article__skills {
  margin-left: 5.5%;
  background: url(/img/skill3.jpg);
}

@media (min-width: 800px) {
  .article__skills {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: none;
    max-width: 1000px;
  }
}

.article__port {
  position: relative;
  max-width: 1000px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.article__contact {
  height: 90%;
  margin: 0 35px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.article__title {
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}

.article__title--skill {
  font-size: 20px;
}

.article__title--t {
  padding-bottom: 0;
}

@media (min-width: 800px) {
  .article__title--t {
    overflow: hidden;
    display: none;
  }
}

.article__text {
  text-align: justify;
  margin: 40px;
  color: #fff;
}

.article__text--skill {
  margin: 0 20px;
}

@media (min-width: 800px) {
  .article__content {
    position: relative;
    background: red;
    height: 100%;
    flex: 1;
    border-right: 2px solid black;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  .article__content:hover {
    flex-grow: 4;
  }
  .article__content:last-child {
    border-right: none;
  }
  .article__content:hover .article__desc {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0);
  }
  .article__content:nth-child(1) {
    background: url(/img/skill1.jpg);
    background-position: center center;
  }
  .article__content:nth-child(2) {
    background: url(/img/skill2.jpg);
    background-position: center center;
  }
  .article__content:nth-child(3) {
    background: url(/img/skill3.jpg);
    background-position: center center;
  }
  .article__content:nth-child(4) {
    background: url(/img/skill4.jpg);
    background-position: center center;
  }
}

.article__desc {
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
  .article__desc {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
  }
}

.skillcontainer {
  display: flex;
  justify-content: space-around;
}

.skillcontainer__icon {
  margin: 7px;
}

@media (min-width: 800px) {
  .skillcontainer__icon {
    margin: 15px;
  }
}

.portcontainer {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.portcontainer__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.portcontainer__img {
  object-fit: cover;
}

.portcontainer__desc {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  margin: 6%;
}

@media (min-width: 800px) {
  .portcontainer__desc {
    margin: 15%;
  }
}

.portcontrols {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.portcontrols__lbl {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.portcontrols__lbl:hover {
  transform: scale(2);
}

input[id="1"]:checked ~ .portcontainer {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="2"]:checked ~ .portcontainer {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="3"]:checked ~ .portcontainer {
  animation: none;
  transform: translate3d(calc(-100% *2), 0, 0);
}
