.footer {
    display: flex;
    bottom: 0;
    height: 18vh;
    width: 100%;
    justify-content: space-evenly;
    padding: 15px;
    background: $quartity-color;
    &__copyright {
        font-size: 18px;
        text-align: center;
        color: $secundary-color;
    }
}
.logo {
    width: 100px;
}