.footer {
    display: flex;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background: #14213d;
    &__copyright {
        font-size: 18px;
        text-align: center;
        color: #fff;
    }
}
.logo {
    width: 80px;
}