.nav {
  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-bottom: 0;
    list-style: none;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__item {
    position: relative;
    list-style: none;
  }
  &__link {
    display: block;
    padding: 0.5rem 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    &:hover{
        color: red;
        text-decoration: none;
        
    }
  }
}

.navbar {
  background: #000;
  &-brand {
    color: white;
  }
}

.sticky{
background: #fff;  
    .nav__link{
        color: #000;
    }
    .navbar-brand{
        color: #000 !important;
    }
}