.section{
    height: 100vh;
    background: #e5e5e5;
    padding-top: 70px;
    &--home{
        color: black;
    }
    &skills{
        color: black;
    }
    &--port{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    &--contact{
        height: 80vh;
        color: black;
    }
}