.section{
    height: 100vh;
    background: #e5e5e5;
    padding-top: 70px;
    &--home{
        color: black;
    }
    &skills{
        color: black;
    }
    &--port{
        color: black;
    }
    &--contact{
        height: 80vh;
        padding-top:0;
    }
}