.section{
    height: 100vh;
    background: $fifth-color;
    padding-top: 70px;
    &--home{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &skills{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--port{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--contact{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
}