$primary-color: #000;
$secundary-color: #fff;
$tertiary-color: rgba(0, 0, 0, 0.2);
$quartity-color: #14213d;
$fifth-color: #e5e5e5;
$sixth-color:rgba(0, 0, 0, 0.5);
$seventh-color:#fca311;
$nineth-color:red;
$tenth-color:rgba(255,255,255,0.5);
